body {

    font-family:cursive;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

button{
    border: 2px  solid  transparent;
    padding: 0px 15px;
    border-radius: 25px;

}
button:hover{
    border: 2px  solid  #009ad8;
}

img
{
    width:50px
}
#days img{
    width: 60px;
}
#hours img{
    width: 80px;
}
@media only screen and (max-width: 992px) {

#main{
margin:auto ;
}
.display-5{
    font-size: calc(2rem + 2.1vw);
}
.fs-6{
    font-size: 1.5rem !important;
}
.fs-1{
    font-size: calc(2rem + 1.5vw) !important;

}

}